@model  Company.ViewModels.GameOrdersViewModel

@{
    ViewBag.Title = "Details";
}

<div class=" jumbotron ">
    <h2>Szczególy oferty</h2>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameVM.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameVM.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameVM.Plant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameVM.Plant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameVM.EquipmentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameVM.EquipmentDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameVM.gamekind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameVM.gamekind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameVM.PricePerPieces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameVM.PricePerPieces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameVM.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameVM.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameVM.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameVM.Description)
        </dd>

        <dd>
            <img src="~/Images/@Model.GameVM.Image" alt="" height="700px" width="800px" />
        </dd>

    </dl>
</div>
<p>
    @if (Context.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edycja |", "Edit", new { id = Model.GameVM.ID })
    }
    @Html.ActionLink("Powrót", "Index")
</p>
<div>
    @if (Request.IsAuthenticated)
    {
        if (Model.GameVM.quantity == 0)
        {
            <h1>Ten produkt chwilowo nie jest dostępny w magazynie!</h1>
            <h1>Prosimy poczekać na dostawę!</h1>
        }
        else
        {
            using (Html.BeginForm("Create", "Orders", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Zamów produkt!</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.HiddenFor(model => model.OrdersVM.GameID)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.OrdersVM.ProfileID)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OrdersVM.NumberOfPieces, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OrdersVM.NumberOfPieces, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OrdersVM.NumberOfPieces, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Zamów" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        }
    }
    @if (Context.User.IsInRole("Admin"))
    {
        <h1>Zamówienia na tą książkę</h1>
        <table class="table">
            <tr>
                <th>
                    <p>Identyfikator użytkownika w systemie:</p>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrdersVM.NumberOfPieces)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrdersVM.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrdersVM.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrdersVM.TransactionDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.OrdersVME)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfileID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPieces)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDate)
                    </td>
                </tr>
            }

        </table>
    }

    </div>
