@model IEnumerable<Company.Models.Suppliers>

@{
    ViewBag.Title = "Index";
}

<div class=" jumbotron w3-container w3-center w3-animate-bottom">
    <h1><b>Rejestr dostaw</b></h1>
</div>
<div class="jumbotron w3-container w3-center w3-animate-bottom">

    <p>
        @Html.ActionLink("Dodaj dostawę do rejestru", "Create")
    </p>
    <Reader>
        <div class="row">
            <div class="col-md-4">
                @using (Html.BeginForm("OpenFile", "Suppliers", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label>Załaduj rejestr dostaw z pliku excel</label>
                    <input type="file" class="form-control" name="excelFile" id="excelFile" />
                    <br />
                    <button class="btn btn-primary" type="submit"> załaduj</button>
                }
            </div>
        </div>
    </Reader>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.game.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.game.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-primary btn-large button3" })<br /><br />
                        @Html.ActionLink("Edycja", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-large button1" }) <br /><br />
                        @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-primary btn-large button2" })
                    }
                </td>
            </tr>
        }

    </table>
</div>
