@model  Company.Models.ChangeEmailViewModel
@{
    ViewBag.Title = "ChangeEmail";
}

<h2>ChangeEmail</h2>

@using (Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>New Email Address:</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewAddress, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zmień email" class="btn btn-default" />
        </div>
    </div>
}